.login{
    margin-top: 50px;
    
}

.login h2{
    font-weight: 600;
    font-style: oblique;
    
}

.registro{
    margin-top: 50px;
}

.registro h2{
    font-weight: 600;
    font-style: oblique;
}