* {
    font-family: "Montserrat", sans-serif;
    letter-spacing: .2rem;
}
#root {
  width: 100%;
  margin: 0 auto;
}
html {
    min-height: 100%;
    width: 100%;
    position: relative;
  }
body {
    background-color: #fbeae1;
    margin: 0;
    height: 100%;
    min-height: 150vh;
}

